<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500&family=Poppins:wght@300&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <style>
        body{
            /* background-image:url('/images/background1.png');
            background-repeat: no-repeat;
            background-size: cover; */
            background-color: black;
            overflow: hidden;
        }
        .navbar{
            display: flex;
            justify-content:space-between;
            color: white;
        }
       
        .list{
          display: flex;
      list-style: none;
          
        }
        ul li a{
            text-decoration: none;
            color: white;
           margin: 50px;
           font-family: kalnia;
           font-weight: 400;
           font-size: 27px;

        }
        ul li a:hover{
            color: rgb(253, 93, 34);
        }
      .button{
        margin: 10px;
       
      }
     
      .btn{
        margin: 6px;
        padding: 10px;
        border-radius: 8px;
        font-family: kalnia;
        font-weight:bold;
        font-size: 15px;
        border: 3px solid orangered;
        background-color: black;
        color: rgb(255, 255, 255);
      }
      .btn:hover{
        color: rgb(255, 124, 77);
        cursor: pointer;
      }
      .container{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 15px;

      }
 
      .text{
        color: white;
        font-size: 30px;
        font-family: kalnia;
        font-weight: 500;
        font-size: 120px;
      }
     
    </style>
  
</head>
<body>
    <nav class="navbar">
   <img src="/images/foodlog.png" alt="" height="8%" width="8%">
   <ul class="list">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Order</a></li>
    <li><a href="#">Contect</a></li>
   </ul>
   <div class="button">
    <button class="btn"><a href="/admin/loginpage">Login</a></button>
    <button class="btn">Sign Up</button>
   </div>
</nav>
<div class="container">
   
    <h1 class="text">Stay fit <br>Eat healthy</h1>
    <h1 class="text"></h1>

    
        <img src="/images/pic1.png" class="food" alt="" height="50%" width="50%" style="border-radius: 100px;">

</div>

<div class="button">
    <button class="btn">Order Now</button>
</div>
</body>
</html>